# Geodatenanalyse 1

## Termin 7

### Einführung in den Umgang mit Datensätzen

### Aufgabe 1
#### 1.1 Erstelle einen eigenen DataFrame
- Erstelle einen **DataFrame** mit <font color="green">Name</font> und <font color="green">Durchmesser</font> der Planeten unseres Sonnensystems. Lade dazu Pandas und nutze folgende Informationen:

    - Merkur: 4879,4 km  
    - Venus: 12103,6 km
    - Erde: 12756,3 km
    - Mars: 6792,4 km
    - Jupiter: 142984 km
    - Saturn: 120536 km
    - Uranus: 51118 km

- Gebe die Datentpyen der Spalten deines **DataFrame** aus.

In [4]:
# Lade Pandas
import ___ as _

# Erstelle einen DataFrame mithilfe eines Dictionary
solar_system = pd.DataFrame(
    {

    }
)

# Gebe den fertigen DataFrame aus

NameError: name 'pd' is not defined

In [1]:
# Datentyp von "Name" und "Durchmesser"

#### 1.2 Spalten abfragen und hinzufügen 
- Speichere die <font color="green">Durchmesser</font> der Planeten als **NumPy-Array** in einer neuen Variablen **d**.
- Erstelle eine Funktion (<font color="red">def</font>) für die Berechnung von <font color="green">Umfang</font> und <font color="green">Oberfläche</font> der Planeten mit dem Durchmesser als Eingangsparameter. Wir treffen die vereinfachende Annahme, dass folgende Formeln gültig sind:
> $$U = \pi * d$$
> $$O = \pi * d^2$$

- Berechne <font color="green">Umfang</font> und <font color="green">Oberfläche</font> aus **d** und mit Hilfe der neuen Funktion. Füge das Ergebnis einer **Kopie** deines **DateFrame** als zusätzliche Spalten hinzu.

    **Hinweis:** Importiere NumPy um *Pi* mit ``np.pi`` zu erhalten.

- Füge deinem original **DataFrame** ebenfalls eine Spalte für <font color="green">Umfang</font> und <font color="green">Oberfläche</font> hinzu. Verwende hierfür aber dieses Mal nicht den Umweg über den **NumPy-Array** und die dafür definierte Funktion, sondern nutze direkt die <font color="red"> Series </font> für die Berechnung und Zuweisung einer neuen Spalte.\
``df["NeueSpalte"] = Series + Berechnung``

In [5]:
# Durchmesser als NumPy-Array

In [4]:
# Importieren von Numpy
import ___ as ___

In [6]:
# Funktion zur Berechnung von Umfang und Oberfläche
def planet_geometry(diameter):
    U = ___
    O = ___
    return U, O

In [7]:
# Berechnen von Umfang und Oberfläche

In [7]:
# Kopie des DataFrame erstellen
solar_system_2 = ___

# Neue Spalten für Umfang und Oberfläche hinzufügen
solar_system_2["Umfang"] = ___
solar_system_2["Oberflaeche"] = ___

# Copy ausgeben
solar_system_2

TypeError: 'str' object does not support item assignment

In [9]:
# Alternative Zuweisung von Umfang und Oberfläche
solar_system["Umfang"] = ___
solar_system["Oberflaeche"] = ___
solar_system

      Name  Durchmesser         Umfang   Oberflaeche
0   Merkur       4879.4   15329.087194  7.479675e+07
1    Venus      12103.6   38024.580842  4.602343e+08
2     Erde      12756.3   40075.098367  5.112100e+08
3     Mars       6792.4   21338.953940  1.449427e+08
4  Jupiter     142984.0  449197.483981  6.422805e+10
5   Saturn     120536.0  378675.012093  4.564397e+10
6   Uranus      51118.0  160591.933266  8.209138e+09

#### 1.3 DataFrame speichern
Speichere deinen **DataFrame** mit Hilfe der Pandas <font color="red">to_*</font> Methode als <font color="green">.csv Datei</font> in deinem Übungsordner. Erstelle hierfür einen Unterordner "*Daten*".

In [10]:
solar_system.to_csv("example_data\solar_system.csv")

### Aufgabe 2
Um uns mit den Funktionalitäten von Pandas vertraut zu machen, verwenden wir für im weiteren Verlauf einen Datensatz aus dem NASA Exoplanet Archive:

https://exoplanetarchive.ipac.caltech.edu/

Der Datensatz enthält Informationen zu den bisher entdeckten Exoplanten. Also Planeten außerhalb unseres Sonnensystems.

#### 2.1 Eine Tabelle laden
- Lade mit Hilfe der Pandas <font color="red">read_*</font> Methode die tabellarischen Daten aus dem ersten Datenblatt (*Sheet*) der Excel-Datei: 
> *NASA_exoplanets.xlsx*

    **Hinweis** Das erste Datenblatt einer Excel-Tabelle wird in Pandas automatisch ausgewählt und geladen.

In [8]:
# Laden des NASA Exoplanet Archive Datensatz
exoplanets = ___
exoplanets

''

#### 2.2 Tabelle inspizieren und einen Überblick verschaffen
- Schaue dir Anfang und Ende des Datensatzes mit der <font color="red">head()</font> und <font color="red">tail()</font> Methode an. Was ist das Jahr der Entdeckung (*disc_year*) des ersten und des letzten Exoplanten im **DataFrame**?

- Verwende die <font color="red">info()</font> Methode, um dir einen besseren Überblick über die Daten zu verschaffen. 
- Welchen Datentypen hat die *disc_year* Spalte des **DataFrame**? 
- Was ist die Dimension (*shape*) des **DataFrame**?

In [9]:
# Anfang des DataFrame

In [10]:
#Ende des DataFrame

In [14]:
# erster und letzter Eintrag
erster_Eintrag = ___
letzter_Eintrag = ___

In [11]:
# Überblick verschaffen

In [16]:
# Datentyp von discovery year
disc_year_type = ___

In [12]:
# Dimension des DataFrame

#### 2.3 Indizieren und Selektieren
- Nutze die Label-basierte Abfrage mit <font color="red">.loc</font> um:
    - die gesamte Spalte *pl_name* als **DataFrame** zurückzugeben.
    - die ersten 100 Zeilen der Spalten *number_stars* und *number_planets* als **DataFrame** zurückzugeben.
    - jede zweite Zeile der Spalte *pl_name* als **Series** zurückgeben.

- Nutze die Integer-basierte Abfrage mit <font color="red">.iloc</font> um:
    - die letzten 100 Zeilen aller Spalten als **DataFrame** zurückzugeben.
    - Zeile 5,8 und 20 der beiden ersten Spalten als **DataFrame** zurückzugeben.
    - das Entdeckungsjahr (*disc_year*) für den Index 250 zurückzugeben.
    
    
**Achtung:** die Label-basierte Abfrage ist in Pandas **inklusiv**. Das heißt, der *Stopwert* wird beim indizieren ebenfalls mit ausgegeben.

In [13]:
# die letzten 100 Zeilen aller Spalten als DataFrame

In [14]:
# die drei ersten Zeilen und der beiden ersten Spalten als DataFrame

In [15]:
# das Entdeckungsjahr (*disc_year*) für den Index 250

In [16]:
#die gesamte Spalte pl_name als DataFrame

In [17]:
# die ersten 100 Zeilen der Spalten number_stars und number_planet als DataFrame

In [18]:
# jede zweite Zeile der Spalte pl_name als Series

## ENDE