Pandas ist eng verknüpft mit NumPy, der Python-Bibliothek für schnelle numerische Array-Berechnungen. Zum Beispiel lässt sich mit Hilfe des *.values* Attribut ein DataFrame direkt als NumPy-Array darstellen. Darüber hinaus, können die Pandas eignenen Datenstrukturen auch an NumPy-Methoden übergeben werden.

In [16]:
import statsmodels.api as sm
import numpy as np
import pandas as pd

# R Dataset of Black Cherry Trees
# https://stat.ethz.ch/R-manual/R-devel/library/datasets/html/00Index.html
df = sm.datasets.get_rdataset("trees").data
df.head()

   Girth  Height  Volume
0    8.3      70    10.3
1    8.6      65    10.3
2    8.8      63    10.2
3   10.5      72    16.4
4   10.7      81    18.8

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Girth   31 non-null     float64
 1   Height  31 non-null     int64
 2   Volume  31 non-null     float64
dtypes: float64(2), int64(1)
memory usage: 872.0 bytes

Aufgaben:
- Schaue dir Anfang und Ende des Datensatzes mit der head() und tail() Methode an. Was ist das Volumen des ersten und letzten Baumes in der Liste

- Erstelle eine Variable "Volumen" mit den Baumvolumen als NumPy-Array. Überprüfe den Datentype der neuen Variablen.

- Wende die Numpy-Methoden *mean*, *min* und *max* auf den Datensatz an.

In [24]:
mean = np.mean(df)
print(mean)
type(mean)

Girth     13.248387
Height    76.000000
Volume    30.170968
dtype: float64

pandas.core.series.Series

In [18]:
np.max(df)

Girth     20.6
Height    87.0
Volume    77.0
dtype: float64

In [23]:
describe = df.describe()
type(describe)

pandas.core.frame.DataFrame